.categorias {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 35px;
}

.categorias__title {
   font-size: var(--fs-5);
}

.categorias__ul {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: 30px;
}

.categorias__li {
   display: flex;
   flex-direction: column;
  } 


.categorias__li h4 {
   background-color: black;
   text-align: center;
   padding: 0.6rem 0;
   color: white;
}

@media screen and (min-width: 1440px) {
   .categorias__li:hover {
      cursor: pointer;
      transform: scale(1.05);
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      transition: 0.25s;
   }
}

@media screen and (max-width: 1439px) {
   .categorias__title {
      font-size: 28px;
   }

   .categorias__ul {
      grid-template-columns: repeat(3, 1fr);
   }

   .categorias__ul li:first-child img {
      content: url(../img/Tablet/Categorias/Categoria\ camiseta.png);
   }

   .categorias__ul li:nth-child(2) img {
      content: url(../img/Tablet/Categorias/Categoria\ Bolsas.png);
   }
   
   .categorias__ul li:nth-child(3) img {
      content: url(../img/Tablet/Categorias/Categoria\ calçados.png);
   }
   
   .categorias__ul li:nth-child(4) img {
      content: url(../img/Tablet/Categorias/Categoria\ calças.png);
   }
   
   .categorias__ul li:nth-child(5) img {
      content: url(../img/Tablet/Categorias/Categoria\ casacos.png);
   }
   
   .categorias__ul li:nth-child(6) img {
      content: url(../img/Tablet/Categorias/Categoria\ óculos.png);
   }
}

@media screen and (max-width: 767px) {
   .categorias__ul {
      grid-template-columns: repeat(2, 1fr);
   }

   .categorias__ul li:first-child img {
      content: url(../img/Mobile/Categorias/Categoria\ camiseta.png);
   }

   .categorias__ul li:nth-child(2) img {
      content: url(../img/Mobile/Categorias/Categoria\ Bolsas.png);
   }
   
   .categorias__ul li:nth-child(3) img {
      content: url(../img/Mobile/Categorias/Categoria\ calçados.png);
   }
   
   .categorias__ul li:nth-child(4) img {
      content: url(../img/Mobile/Categorias/Categoria\ calças.png);
   }
   
   .categorias__ul li:nth-child(5) img {
      content: url(../img/Mobile/Categorias/Categoria\ Casacos.png);
   }
   
   .categorias__ul li:nth-child(6) img {
      content: url(../img/Mobile/Categorias/Categoria\ óculos.png);
   }
}